node_modules/
dist/
*.tsbuildinfo
.env
.env.*
!.env.example
uploads/*
!uploads/calculator.jpg
!uploads/calculus.jpg
!uploads/design.jpg
!uploads/desk.jpg
!uploads/ipad.jpg
!uploads/lamp.jpg
!uploads/nike.jpg
!uploads/python.jpg
!uploads/racket.jpg
!uploads/ride.jpg
coverage/
*.log
.DS_Store
